// ---------------------------------------------------------------------------
// Imports

@import "base";
@import "compass/css3";

/*
Table of Contents
=================
-- Generic HTML Elements
-- Header
-- Footer
-- Navigation
-- Global Selectors
-- Home
-- Items/Browse
-- Items/Show
-- Groups/Browse
-- Groups/Show
-- Groups Settings
-- Sites
-- Sites/Show
-- Login
*/

// !------ Mixins ------ 

@mixin card-description {
    height: rhythm(5);
    overflow: hidden;
    position: relative;
    
    & > p:first-of-type {
        margin-top: 0;
    }
}

@mixin card {
    padding-left: gutter(16);
    padding-right: gutter(16);
    overflow: hidden;

    &:after {
        content: "";
        width: 100%;
        height: rhythm(2);
        @include background(linear-gradient(bottom, #fff, rgba(255,255,255,0)));
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    h2 {
        font-weight: normal;
        margin: 0 percentage(-1/4);
        padding: rhythm() percentage(1/4) rhythm(.5) percentage(1/4);
        background-color: #fff;
        @include box-shadow(0 0 40px rgba(0, 0, 0, 0.3));
        position: relative;
        
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 50px;
            box-shadow: none;
            position: absolute;
            left: 0;
            background-color: #fff;
        }
        
        & + * {
            position: relative;
            background-color: #fff;
            margin-top: 0;
        }
    }
}

/* @group ------ Generic HTML Elements ------ */

* {
    @include box-sizing(border-box);
}

body {
    background: url('../images/bg.jpg') no-repeat fixed;
    background-size: cover;
    color: #fff;
    font-family: "Raleway", sans-serif;
    text-shadow: 0 0 10px rgba(0,0,0,.7);
    font-size: $base-font-size;
    line-height: $base-line-height;
    word-break: break-word;
}

a {
    text-decoration: none;
    color: $yellow;
    
    &:hover, &:active { color: lighten($yellow, 20%); }
}

button, input[type="submit"], .button { 
    padding: rhythm(.5) gutter(6);
    display: inline-block;
    @include border-radius(5px);
    background-color: $teal;
    text-align: center;
    border: 0;
    color: #fff;
    
    &:hover {
        background-color: darken(saturate($teal, 15%), 15%);
    }
}

fieldset { 
    border: 0; 
    padding: 0;
    margin: 0;
}

textarea {
    display: block;
}

input[type=text] {
    padding: rhythm(.25) 10px;
}

table {
    width: 100%;
    margin: rhythm(1) 0;
}

th {
    font-size: 1.5 * $base-font-size;
    line-height: 1.5 * $base-line-height;
    font-weight: normal;
    text-align: left;
}

thead {
    border-color: rgba(255,255,255,.3);
    @include trailing-border(1px, 1, $base-font-size, solid);
}

td {
    padding: rhythm(.5) 0 0;
    border-color: rgba(255,255,255,.1);
    @include trailing-border(1px, .5, $base-font-size, solid);
}

/* @end */

/* @group ------ Header ------ */

header {
    padding: rhythm(2) 0 rhythm(1);
    text-align: right;
}

#home header {
    padding: rhythm(2) 0;
}

.site-title {
    float: left;
}

/* 
.user input[type=text], 
.user input[type=password] {
    background-color: rgba(255,255,255,.05);
    border: 0;
}

.user {
    float: right;
    @include leader();
} 
*/

.tab {
    @include border-radius(5px 5px 0 0);
    padding: rhythm(.5) gutter(12);
    cursor: pointer;
    width: 50% !important;
    float: left;
    text-align: left;
    background-color: rgba(255,255,255,.15);
}

.current.tab {
    background-color: rgba(255,255,255,.3);
}

#search-form, #items-form {
    background-color: rgba(255,255,255, .3);
    padding: rhythm(.5) gutter(12);
    width: 100%;
    float: left;
    text-align: left;
    @include border-radius(0 0 5px 5px);
}

#search {
    @include leader(2);
    opacity: .65;
    overflow: auto;
    @include transition-property(opacity);
    @include transition-duration(.25s);
    @include transition-timing-function(ease-in);
    
    .items {
        margin-top: 0;
    }
    
    &:hover, &:active {
        opacity: 1;
    }
    
    input[type=text] {
        border: 0;
        height: rhythm(1.5);
        width: 50%;
        float: left;
        margin: 0;
    }
    
    #search-form input[type=submit],
    #search-form .button {
        border: 0;
        height: rhythm(1.5);
        width: 25%;
        float: left;
        background-color: $teal;
        color: #fff;
        @include border-radius(0px);
        line-height: .5 * $base-line-height;
        text-shadow: none;
        clear: none;
    }
    
    #search-form .button {
        background-color: darken(saturate($teal, 15%), 15%);
    }
    
    #advanced-form {
        display: none;
        text-align: left;
        @include padding-leader(.5);
    }
    
    input[type=radio] {
        margin-right: 5px;
    }
    
}

#advanced-form {
    & > fieldset { 
        width: 50%; 
        float: left;
        clear: none;
    }
}

#items-form {
    display: none;
    line-height: $base-line-height;
    
    .field {
        text-align: right;
        @include trailer();
        overflow: auto;
    }
    
    label, .label {
        width: 36%;
        float: left;
        text-align: right;
        @include padding-leader(.5);
    }

    .inputs {
        width: 60%;
        float: right;
        text-align: left;
    }

    .search-entry {
        select {
            width: 50%;
        }
        
        & + .search-entry {
            @include leader();
        }
    }
    
    input[type=text] {
        width: 100%;
        margin-top: rhythm(.25)
    }
    
    .add_search {
        margin-right: 4%;
    }
    
    .remove_search {
        background-color: $red;
    }
    
    .add_search, .remove_search {
        @include leader(.25);
    }
    
    select {
        width: 100%;
        margin-top: rhythm(.5);
    }

    #submit_items_search {
        @include border-radius(5px);
        padding: rhythm(.5);
        margin: auto;
        float: none;
        display: block;
        width: 100%;
        @include trailer();
        background-color: darken(saturate($teal, 15%), 15%);
    }
}

/* @end */

/* @group ------ Search Results ------ */

#search-filters ul,
#item-filters ul {
    list-style-type: none;
    padding-left: 0;
    
    & > li {
        background-color: saturate(darken($teal, 15%), 15%);
        padding: rhythm(.25) 10px;
        @include border-radius(5px);
        display: inline-block;
        margin-right: 5px;
    }
    
    ul { 
        display: inline; 
        
        li {
            padding: 0;
            text-transform: lowercase;
            
            &:after {
                content: ", ";
                
            }

            &:last-child:after {
                content: "";
            }
        }
    }
}

body.search th:first-of-type {
    width: 20%;
}

#item-filters ul {
    float: left;
    max-width: 75%;
}

/* @end */

/* @group ------ Footer ------ */

footer {
    clear: both;
}

/* @end */

/* @group ------ Navigation ------ */

header nav {
    display: inline-block;
    clear: both;
    text-transform: uppercase;
    @include leader(1);
    @include border-radius(3px);
    margin-left: 20px;

    a {
        padding: rhythm(.5) 20px;
        display: block;
    }
    
    ul {
        margin: rhythm(-.5) 0 0 0;
        
        ul {
            display: none;
            position: absolute;
            width: 200px;
            z-index: 10;
            top: rhythm(2.5);
            right: 0;
            background-color: darken($teal, 15%);
            
            li { 
                margin-right: 0; 
                width: 100%;
                text-shadow: none;
                text-transform: none;
                position: relative;
            }
            
            ul { display: none; }
        }
    }

    li:hover > ul { 
        display: block; 
        
        li:hover ul {
            position: absolute;
            top: 0;
            right: 200px;
            margin: 0;
        }
    }
    
    li:hover {
        background-color: darken($teal, 15%);
        text-shadow: none;
        
        li:hover {
            background-color: rgba(0,0,0,.15);
        }
    }
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    
    li {
        display: inline-block;
        margin-right: 20px;
        position: relative;
        
        &:last-of-type { margin-right: 0; }
    }
}

.pagination {
    padding-left: 0;
    list-style-type: none;
    font-size: 0;

    li { 
        display: inline-block; 
        height: rhythm(2);
        font-size: $base-font-size;
        line-height: 2 * $base-line-height;
        padding-right: 20px;
    }

    input[type=text] {
        width: 3em;
        background-color: transparent;
        border: 0;
        color: #FFF;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        text-align: center;
        display: inline;
    }
}

#bottom-nav ul ul { display: none; }

/* @end */

/* @group ------ Global Selectors ------ */

.container {
  @include container;
}

div[role=main] {
    @include container;
}

#flash ul {
    margin: 0;
    padding: 0;
}

#flash li {
    margin: 0;
    background-color: lighten($red, 30%);
    @include border-radius(3px);
    color: darken($red, 20%);
    text-shadow: none;
    padding: rhythm(.25) gutter(12);
    @include trailer();    
    list-style-type: none;
    
    &.success {
        background-color: lighten($teal, 35%);
        color: darken($teal, 20%);
    }
}

.number {
    font-size: 2 * $base-font-size;      
    display: block;
}

#no-results {
    clear: both;
    padding: rhythm(2) 0;
}

#sidebar .button, 
#sidebar button,
#sidebar input[type=submit] {
    width: 100%;
}

    /* @group ------ Form selectors ------ */
    
    .field {
        clear: both;
    }
    
    /* @end */



/* @end */

/* @group ------ Home ------ */

#home #intro {
    @include container;
    text-align: center;
}

#home #search {
    @include leader(1);
    @include trailer();
}

#intro h1 {
    font-weight: normal;
    line-height: 2 * $base-line-height;
    @include leader(0);
}

#intro h1 + .button {
    background-color: $red;
    clear: both;
    color: #fff;
    line-height: 2 * $base-line-height;
}

.or_search {
    display: block;
    @include leader();
}

.items-list.with-images .item {
    @include card;
    font-color: #363636;
    background-color: #fff;
    color: #696969;
    text-shadow: none;
    display: inline-block;
    font-size: $base-font-size;
    line-height: $base-line-height;
    vertical-align: top;
    @include padding-trailer(6);
    @include trailer();
    position: relative;
    height: rhythm(17);
    @include span-columns(4);
    
    &:nth-of-type(4n) {
        @include span-columns(4 omega);
    }
    
    &:first-of-type, &:nth-of-type(4n+1) {
        @include span-columns(4 alpha);
    }
    
    & > * {
        margin-left: gutter(6);
        margin-right: gutter(6);
    }

    a:link {
        color: $yellow-on-white;
    }
    
    a:visited {
        color: desaturate($yellow-on-white, 40%);
    }
    
    a:active, a:hover {
        color: lighten($yellow-on-white, 10%);
    }
}

.view-all-items-link {
    background-color: rgba(0,0,0,.15);
    width: 100%;
    color: $yellow;
    
    &:hover {
        background-color: rgba(0,0,0,.3);
    }
}

.items-list .item > .image {
    height: rhythm(7);
    background-size: cover;
    background-position: center center;
    background-color: #ccc;
    margin-left: percentage(-1/12);
    margin-right: percentage(-1/12);
    position: relative;
}

.no.image:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: .35;
    background-color: red;
    background: #ccc url('../images/grayscale_mark.png') no-repeat center center;
    background-size: 50%;
}

#home #recent-items {
    @include leader(2);
    border-color: rgba(255,255,255,.15);
    @include leading-border(1px, 1, $base-font-size, solid);
    @include trailer(2);
    clear: both;
}

#featured-site {
    @include span-columns(9 alpha);
    @include leader(3);
    
    h2 { margin-top: 0; }
    
    .placeholder {
        width: 60%;
        float: left;
        height: rhythm(10);
        margin-right: gutter(6);
    }
}

#home .category {
    text-transform: uppercase;
    font-size: $base-font-size;
    line-height: $base-line-height;
    display: block;
}

#stats {
    @include span-columns(3 omega);
    @include leader(3);
    @include trailer(2);
    text-align: right;
    
    a { 
        width: 100%; 
        display: inline-block;
    }
    
    div {
        @include trailer();
    }
}

.counter {
    font-size: 2 * $base-font-size;
    line-height: 2 * $base-line-height;
    display: block;
    width: 100%;
    background-color: #fff;
    text-shadow: 0;
    font-family: "Andale Mono", AndaleMono, monospace;
    color: #696969;
    text-shadow: none;
    letter-spacing: .1em;
    @include trailer(.25);
}

/* @end */

/* @group ------ Items/Browse ------ */

.items.browse.list {
    .item {
        @include trailing-border(1px, 2, $base-font-size, solid);
        border-color: rgba(255,255,255,.15);
        @include trailer(2);
        clear: both;
    }
}

.items.browse.grid {
    .item {
        @include card;
        @include span-columns(4);
        font-color: #363636;
        background-color: #fff;
        color: #696969;
        text-shadow: none;
        padding: rhythm(7) gutter(12) rhythm(.5);
        display: inline-block;
        font-size: $base-font-size;
        line-height: $base-line-height;
        vertical-align: top;
        @include padding-trailer(6);
        @include trailer();
        position: relative;
        height: rhythm(17);
        overflow: hidden;
        

        &:nth-of-type(4n) {
            @include span-columns(4 omega);
        }

        a:link {
            color: $yellow-on-white;
        }
        
        a:visited {
            color: desaturate($yellow-on-white, 40%);
        }
        
        a:active, a:hover {
            color: lighten($yellow-on-white, 10%);
        }
        
        h2 {
            font-size: 1.25 * $base-font-size;
        }
    }
    
    .item-description {
        @include card-description;
    }
    
    .views + .item {
        clear: both;
        
    }
    
    .image {
        height: rhythm(7);
        background-size: cover;
        background-position: center center;
        background-color: #ccc;
    }
    
    .image {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    
    .no.image:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: .35;
        background-color: red;
        background: #ccc url('../images/grayscale_mark.png') no-repeat center center;
        background-size: 50%;
    }
}

.items.browse .items {
    float: left;
    @include leader();
    width: 100%;
}


#recent-items {
    clear: both;
}

/* @end */

/* @group ------ Items/Show ------ */

.items.show { 
    div[role="main"] > h1 {
        width: 100%;
        padding: 0;
    }
    
    #sidebar {
        @include span-columns(4 alpha);
        @include trailer(2);
    }
}

#item-content-nav {
    background: rgba(0,0,0,.25);
    padding: rhythm(.25) 10px;
    @include border-radius(3px);
    margin: rhythm(2) 0 rhythm();

    ul {
        margin: 0;
    }

    .current {
        font-weight: bold;
    }
}

#group-actions {
    @include trailer(2);
}

.modal-header {
    background-color: $teal;
}

#user-groups .checked:after {
    background-color: $teal;
}

#sidebar + #primary {
    @include span-columns(11 omega);
    @include padding-trailer(2);
}

.user-tags {
    @include trailer(2);
}

.user-tags-list {
    list-style-type: none;
    padding: 0;
    float: left;
    margin: 0 0 rhythm() 0;
    width: 100%;
    
    li {
        background-color: $yellow;
        @include border-radius(3px);
        float: left;
        text-shadow: none;
        @include trailer(.5);
        position: relative;
        padding-right: 10px;
        margin-right: rhythm(.5);
        width: 100%;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    a {
        color: darken($yellow, 30%);
        padding: rhythm(.25) 10px;
        display: inline-block;
        max-width: 90%;
    }
    
    .remove {
        text-indent: -9999px;
        display: inline-block;
        cursor: pointer;
        
        &:after {
            content: "x";
            text-indent: 0;
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            line-height: rhythm(1.5);
            background-color: darken($yellow, 10%);
            padding: 0 10px;
            @include border-radius(0 3px 3px 0);
        }
    }
    
}

.user-tags label {
    font-weight: bold;
    font-size: 1.25 * $base-font-size;
    @include trailer();
    clear: both;
}

.user-tags #tags {
    float: left;
    padding: rhythm(.5) 10px;
    border: 0;
    margin: rhythm(.5) 0 0;
    @include border-radius(3px 0 0 3px);
    width: 75%;
}

#tag-errors {
    background-color: lighten($red, 30%);
    color: darken($red, 20%);
    margin-bottom: rhythm();
    @include border-radius(3px);
    clear: both;
    padding: rhythm(.25);
    @include text-shadow(none);
}

#sidebar #user-tags-submit {
    padding: rhythm(.5) 10px;
    @include border-radius(0 3px 3px 0);
    margin: rhythm(.5) 0 0;
    width: 25%;
}

#embed-code-text {
    width: 100%;
    font-size: .75 * $base-font-size;
    line-height: $base-line-height;
    padding: rhythm(.5) 10px;
}

#comments-container {
    input[type="text"], textarea {
        width: 100%;
        border: 0;
        @include border-radius(3px);
        padding: rhythm(.5) 10px;
    }
    
    div {
        margin: 0;
        padding: 0;
    }
    
    label {
        display: block;
        padding-bottom: 0;
        @include trailer(.25);
    }
    
    div.field {
        @include trailer();
    }
}
/* @end */

/* @group ------ Groups/Browse ------ */

.groups-section-nav { display: none; }

.more-info {
    font-size: .625 * $base-font-size;
    height: .625 * $base-line-height;
    line-height: .75 * $base-line-height;
    @include border-radius(20px);
    display: inline-block;
    margin-left: 10px;
    width: .625 * $base-line-height;
    text-align: center;
    color: #fff;
    cursor: pointer;
    
    &:hover + .visibility-description {
        display: block;
    }
}

.visibility-description {
    display: none;
    position: absolute;
    top: rhythm(3);
    left: 0;
    background-color: #e7e7e7;
    @include border-radius(5px);
    font-size: .75 * $base-font-size;
    width: 100%;
    padding: 5px 10px;
    color: #696969;
    font-weight: bold;
    z-index: 1000;
    
    &:before {
        position: absolute;
        top: rhythm(-.5);
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid #e7e7e7;
        content: "";
    }
}

.public {
    background-color: #e7e7e7;
    color: #666;
    
    .more-info { background-color: #999; }
}

.closed {
    background-color: lighten($red, 30%);
    color: darken($red, 20%);

    .more-info { background-color: darken($red, 20%); }
}

.groups-type {
    @include border-radius(3px);
    @include leader(.5);
    padding: rhythm(.25) 10px;
    @include trailer();
    position: relative;
    text-shadow: none;
}

.groups.browse {
    
    .groups-description {
        @include card-description;
    }
    
    .group h2 {
        font-weight: 300;
    }

    h3 {
        display: none;
    }

    .groups {
        font-size: 0;
        @include leader();
    }
    
    .hentry {
        font-color: #363636;
        background-color: #fff;
        color: #696969;
        text-shadow: none;
        width: 32%;
        margin-right: 2%;
        padding: rhythm(.5) gutter(12);
        display: inline-block;
        font-size: $base-font-size;
        line-height: $base-line-height;
        vertical-align: top;
        @include padding-trailer(6);
        @include trailer();
        position: relative;
        height: rhythm(17);
        
        a:link {
            color: $yellow-on-white;
        }
        
        a:visited {
            color: desaturate($yellow-on-white, 40%);
        }
        
        a:active, a:hover {
            color: lighten($yellow-on-white, 10%);
        }
        
        &:nth-of-type(3n) {
            margin-right: 0;
        }

        p.items, p.members {
            position: absolute;
            bottom: rhythm(2);
            display: inline-block;
            margin: 0;
            padding: rhythm(.5) 10px;
            width: 50%;
            border-top: 1px solid #e7e7e7;
        }
        
        p.items {
            left: 0;
        }
        
        p.members {
            left: 50%;
            border-left: 1px solid #e7e7e7;
        }
        
        .groups-button, .my-group {
            margin-bottom: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            @include border-radius(0px);
        }
        
        .my-group {
            background-color: #999;
            padding: rhythm(.5) 0;
            width: 100%;
            color: #fff;
            text-align: center;
        }

    }

    .groups-tags ul {
        padding-left: 0;
        list-style-type: none;
        display: inline;
        
        li {
            display: inline;
            
            &:after {
                content: ", ";
            }
            
            &:last-child:after {
                content: "";
            }
        }
    }
    
    .groups-tags h3 {
        font-size: $base-font-size;
        line-height: $base-line-height;
        display: inline;
        
        &:after {
          content: ": ";
        }
    }
    
    #groups-member-count, #groups-item-count {
        position: absolute;
        bottom: 0;
        margin: 0;
        @include padding-trailer(.5);
    }
    
    #groups-item-count {
        left: 50%;
        border-left: 1px solid #e7e7e7;
        padding: 0 10px rhythm(.5);
    }
    
    .number {
        font-size: 2 * $base-font-size;
        display: block;
    }
}

.loggedout.groups.browse p.items,
.loggedout.groups.browse p.members, {
    bottom: 0;
}

.loggedout.groups.browse .hentry {
    height: rhythm(15);
}

.groups-pending {
    position: absolute;
    bottom: 0;
    background-color: $yellow;
    left: 0;
    right: 0;
    padding: .75em;
    margin: 0;
    text-align: center;
}

.groups-button {
    @extend .button;
    width: 100%;
    display: block;
    color: #fff;
}

/* @end */

/* @group ------ Groups/Show ------ */

.groups.show {

    .groups-members {
        padding-left: 0;

        li {
            display: inline-block;
            list-style-type: none;
        }
    }
    
    #sidebar, #primary {
        @include leader();
        
        img {
            max-width: 100%;
            height: auto;
        }
    }
    
    #sidebar {
        @include span-columns(4 alpha);
        @include span-columns(3 alpha);
        
        .groups-button {
            padding: rhythm(.25) 10px;
            margin-top: 0;
            @include trailer();
            height: rhythm(1.5);
            text-align: left;
            @include border-radius(3px);
            @include text-shadow(none);
        }
        
        .logo {
            background-color: #ccc;
            width: 100%;
            padding-bottom: 100%;
            @include trailer();
        }
        
        p.items, p.members {
            display: block;
            margin: 0;
            width: 50%;
            float: left;
            @include trailer();
        }
        
        p.members {
            left: 50%;
            padding-left: 10px;
        }
        
        p.items { padding-left: 0; }
        
        .number {
            font-size: 2 * $base-font-size;      
            display: block;
        } 
    }
    
    #primary {
        @include span-columns(8 omega);
        
        h2 { margin-top: 0; }
        
        & > div {
            @include trailer(2);
            
            &:last-of-type {
                @include trailer(0);
            }
        }
    }
}

/* @end */

/* @group ------ Groups Settings ------ */

.group-manage {
    background: rgba(0,0,0,.25);
    padding: rhythm(.25) 10px;
    @include border-radius(3px);
    
    ul { margin: 0; }
}

.group-options > div:last-of-type {
    margin-bottom: 0;
}

div.groups-group {
    @include leader();
    border-color: rgba(255,255,255,.15);
    @include leading-border(1px, 0, $base-font-size, solid);
    overflow: auto;
    
    &:last-of-type {
        @include trailing-border(1px, 1, $base-font-size, solid);
        @include trailer();
    }
}

.my-groups #primary {
    @include leader(2);
}

.my-groups .role {
    font-weight: 700;
}

.group-status {
    @include span-columns(6 alpha);
    
    p { margin: 0; }
}

.group-notifications {
    @include span-columns(6 omega);
}

.group-membership p:only-of-type {
    margin-bottom: 0;
}

.invitations label {
    display: block;
    @include trailer(.5);
}

.invitations .groups,
.invitations textarea {
    @include trailer();
} 

/* @end */

/* @group ------ Sites ------ */

.sites.browse .logo {
    height: rhythm(7);
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    left: 0;
    background-color: #ccc;
    padding: 5% 0;

    img {
        max-height: 100%;
        width:  auto;
        margin: 0 auto;
    }
}

.sites-site {
    @include card;

    background-color: #fff;
    color: #696969;
    text-shadow: none;
    padding: rhythm(7) gutter(12) rhythm(4);
    width: 32%;
    margin-right: 2%;
    float: left;
    @include trailer();
    position: relative;

    &:nth-of-type(3n) {
        margin-right: 0;
    }
    
    img {
        max-width: 100%;
        height: auto;
        @include trailer();
    }
}

.sites p.items {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    margin: 0;
    padding: rhythm(.5) gutter(4);
    width: 100%;
    border-top: 1px solid #e7e7e7;
    z-index: 20;
}

.pagination {
    float: left;
    @include trailer();
    width: 50%;
    clear: both;
}

.views {
    float: right;
    width: 50%;
    text-align: right;
    padding: rhythm(.75) 0;
}

#outputs {
    clear: both;
}

.list {
    margin-left: 20px;
}

/* @end */

/* @group ------ Sites/show ------ */

#site-logo {
    @include span-columns(3 alpha);
    background: #fff;
    padding: rhythm(.5) gutter(12);
    
    img {
        width: 100%;
        height: auto;
    }
}

#sites-overview > div:first-of-type > h3:first-of-type {
    @include leader(0);
}

#sites-overview ul {
    padding-left: 18px;
}

.sites.display-case h1:first-of-type {
    @include trailer();
}

/* @end */

/* @group ------ Login ------ */

#login-form {
    padding: 0;
    @include span-columns(8 alpha);
    @include trailer();
    
    .field { @include trailer(); }
    
    #username-label, #password-label { @include trailer(.5); }
    
    #remember-label, #remember-label + div {
        display: inline;
    }
    
    input[type=text], input[type=password] {
        width: 100%;
        border: 0;
        height: 1.5 * $base-line-height;
        padding: rhythm(.25) gutter(10);
    }
}

/* @end */

/* @group ------ AddThis ------ */

.addthis_toolbox {
    @include leader();
    @include trailer(2);
}

.addthis_32x32_style .addthis_counter.addthis_bubble_style {
    @include border-radius(3px);
    text-shadow: none;
}